html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: linear-gradient(90deg, hsla(221, 45%, 73%, 1) 0%, hsla(220, 78%, 29%, 1) 100%);
}

h1 {
    color: orange;
    text-align: center;
}

.heading {
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    width: 100%;
    margin: 15px auto;
}

.container {
    display: grid;
    grid-template-columns: repeat(1, minmax(1fr, 1000px));
    grid-template-rows: 2fr 4fr;
    margin: 0 auto;

    justify-content: center;
    align-items: center;
    text-align: center;
}

#board {

    border: transparent;
    display: grid;
    grid-template-columns: repeat(3, minmax(300px, 1fr));
    grid-template-rows: repeat(3, minmax(200px, 1fr));
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: black;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    gap: 8px;
}

#board div {
    width: 100%;
    height: 100%;
    background-color: #eee;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    font-weight: bold;
    cursor: pointer;
}




