html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    color: orange;
    text-align: center;
}

.container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 18px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#board {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 2rem;
    min-width: 50vw;
    max-width: 90vw;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#board div {
    width: 100%;
    padding: 12px;
}